/* Add your CSS here */
p {
  color: blue;
  font-weight: bold;
}

.cat {
  position: absolute;
  left: 33px;
}

.a {
  position: absolute;
  left: 33px;
  top: 335px;
}

.one {
  position: absolute;
  left: 216px;
}

.b {
  position: absolute;
  left: 216px;
  top: 335px;
}

.two {
  position: absolute;
  left: 420px;
}

.c {
  position: absolute;
  left: 420px;
  top: 335px;
}

.three {
  position: absolute;
  left: 615px;
}

.d {
  position: absolute;
  left: 615px;
  top: 335px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid lightgrey;
}

.four {
  position: absolute;
  left: 33px;
  top: 460px;
}

.e {
  position: absolute;
  left: 33px;
  top: 600px;
}

.five {
  position: absolute;
  left: 216px;
  top: 460px;
}

.f {
  position: absolute;
  left: 216px;
  top: 600px;
}

.six {
  position: absolute;
  left: 420px;
  top: 460px
}

.g {
  position: absolute;
  left: 420px;
  top: 600px;
}

.seven {
  position: absolute;
  left: 615px;
  top: 460px;
}

.h {
  position: absolute;
  left: 615px;
  top: 600px;
}

.text {
  color: Black;
  font-weight: lighter;
}

h1 {
  color: DarkOrange;
  font-weight: bold;
}
